/* SECTION HERO */
.section-hero {
  width: 100wh;
  background-image: linear-gradient(rgba(238, 238, 238, 0.89), #fbfdff),
    url(https://source.unsplash.com/collection/190727/500x500);

  background-size: cover;
  background-position: right;
  position: relative;
}
.section-hero > .container {
  height: 100%;
}

/* HERO TEXT CONTAINER  */
.hero-text-container {
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-description {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 4.8rem;
}
.hero-text-container .container-btn {
  display: flex;
  align-items: center;
  width: fit-content;
}

/* HERO IMG CONTAINER  */
.hero-img-container {
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-img-container .nft-img {
  border-radius: var(--border-radius);
  height: 423px;
  width: auto;
  overflow: hidden;
}

.hero-img-container-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
.hero-img-container-body .user-info {
  display: inline-block;
}
.user-info .user-info-name {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 1rem;
  color: var(--btn-color-primary);
}
/* CONTAINER BOTTOM */
.container-bottom a:link {
  font-size: 1.8rem;
  text-decoration: none;
}
