.wallet {
  max-width: 420px;
  height: 80vh;
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  right: 0;
  top: 69px;
  transition: all 0.5s;
}
.wallet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.Wallet-name {
  display: inline-block;
  font-weight: 500;
}
.wallet-address {
  max-width: 120px;
  cursor: pointer;
  text-decoration: none;
}
.wallet-body {
  font-size: 18px;
  line-height: 1.6rem;
  margin: 1.2rem;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
.balance {
  font-size: 1.8rem;
}
