.form-label {
  margin: 0.5rem 0.3rem;
  padding: 0.2rem auto;
  font-size: 16px;
  font-weight: 600;
}
.choose-file {
  max-height: fit-content;
  max-width: fit-content;
  height: '420px';
  width: '420px';
  display: flex;
  flex-direction: column;
  border: 4px dashed rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-medium);
}
.choose-file:hover,
.choose-file:focus {
  background-color: rgb(221, 221, 221);
  outline: none;
  box-shadow: none;
}
/* .form-control:focus {
  outline: 0;
  box-shadow: 0 0 5px 2px rgba(94, 93, 93, 0.3);
  border: 1px solid rgba(94, 93, 93, 0.3);
} */
/* .icon {
  font-size: 18px;
}

.btn-add {
  display: inline-block;
  margin-left: auto;
  border: 2px solid #2081e2;
  color: #2081e2;
  height: 4.8rem;
  border-radius: 8px;
  padding: 8px 20px;
} */
